@model Product

@{
    // Get the context of the database from the ViewBag
    var _context = ViewBag.Context as ApplicationDbContext;

    // Query for all stores which have been selected for this product
    var StoreLogosofProduct =
        (from store in _context.Stores
         where store.Products.Any(x => x.Id == Model.Id)
         select store.StoreLogo).ToList();

    // Convert the logos to Base64 data URL strings
    List<string> storeimage = new List<string>();
    for (int i = 0; i < StoreLogosofProduct.Count; i++)
    {
        storeimage.Add(string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(StoreLogosofProduct[i])));
    }

    // Convert the product image to a Base64 data URL string
    string ImageDataUrl = string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.ProductImage));
}

    
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/ProductInfo.css">
</head>
<body>
<span id="favorite-indicator"></span>
<div class="square"> 
    <img class="kantelbare" src="@ImageDataUrl">
    <h1>@Model.Name</h1>
    <h2>Verkrijgbaar bij:</h2>
    <h3>€@Model.Price</h3>
    <img class="bollogo" src="@storeimage[0]">
    
    @{
        double pixels = (@Model.Price / 300) * 1050;
        int pixelstoInt = (int) pixels;
        string tekst = $"{pixelstoInt}px";
    }

    <div class="arrow-down" style="left: @tekst "></div>
    <table>
        <tr>
            <td class="color1" style="color: white;">€ 0</td>
            <td class="color2"></td>
            <td class="color3" style="text-align:right;color: white;" > € 300</td>
        </tr>
    </table>


</div>
<button class="video" onclick="showVideo()">Video</button>
<div id="videoModal" class="modal">
    <span class="close" onclick="closeVideo()">&times;</span>
    <div class="videocontent">
        <iframe class= "videocontent" src="https://www.youtube.com/embed/wT9WivR6i1I" title="Beginvideo SOL" borderbegin="0">
                </iframe>
    </div>
</div>

    </div>
</div>
<button class="beschrijving" onclick="showDescription()">Beschrijving</button>
<div id="descriptionModal" class="modal">
    <span class="close" onclick="closeDescription()">&times;</span>
    <div class="modal-content">
        <p>Probleemloos en veilig heet water inschenken!
           
           Door het ergonomische ontwerp van de Uccello waterkoker schenkt u probleemloos en veilig heet water in. Het handige kantelmechanisme is uitermate geschikt voor personen met beperkte kracht en mobiliteit.
           
           De Uccello waterkoker heeft een rond design en is voorzien van een uniek kantelmechanisme. Hierdoor onderscheidt de Uccello zich van andere waterkokers en inschenkhulpen. Door het ronde design wordt het water als het ware naar de meest optimale schenkpositie verplaatst. Het ingenieuze kantelsysteem zorgt ervoor dat er weinig kracht is vereist voor het maken van de kantelbeweging.
           
           Dankzij de ingebouwde gewichtsverdeling kan de ketel met één vinger worden gekanteld. Het gewicht wordt verdeeld over de hele arm in plaats van op de vingers en polsen.</p>
    </div>
</div>
<script>
    function showDescription() {
        closeVideo();
        var modal = document.getElementById("descriptionModal");
        modal.style.display = "block";
    }

    function closeDescription() {
        var modal = document.getElementById("descriptionModal");
        modal.style.display = "none";
    }

    function showVideo() {
        closeDescription();
        var modal = document.getElementById("videoModal");
            modal.style.display = "block";
        }
    
    function closeVideo() {
        var modal = document.getElementById("videoModal");
            modal.style.display = "none";
        }


</script>



<a asp-action="ProductenOverzicht" asp-controller="Application" class="terug" asp-route-id="@Model.Place">
    <div>
        Terug
    </div>
</a>


<a class="favorieten" id="favorite-button" onclick="toggleFavorite('@Model.Id')">
    <span id="favorite-text">Favorieten</span>
</a>


<script>
function toggleFavorite(productId) {
    if (typeof Storage !== "undefined") {
        var isFavorited = localStorage.getItem(`favorited_${productId}`) === 'true';
        localStorage.setItem(`favorited_${productId}`, !isFavorited);
        var button = document.getElementById("favorite-button");
        if (!isFavorited) {
            button.classList.add("favorited");
        } else {
            button.classList.remove("favorited");
        }
    }
}

// check the item if it's already favorited
if (typeof Storage !== "undefined") {
    var productId = '@Model.Id';
    var isFavorited = localStorage.getItem(`favorited_${productId}`) === 'true';
    var button = document.getElementById("favorite-button");
    if (isFavorited) {
        button.classList.add("favorited");
    }
}


</script>

</body>
</html>