@model IEnumerable<Product>
@{
    var modelToList = Model.ToList();
    List<string> imageDataURL = new List<string>();
    foreach(Product product in Model)
    {
        imageDataURL.Add(string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(product.ProductImage)));
    }
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/ProductOverzicht.css">
</head>
<body>
<div class="product-grid">
    <div class="product-box">
        <a asp-action="MainMenu" asp-controller="Application" class="back-button">
            <div class="text1">
                Terug
            </div>
        </a>
    </div>
    @for(int i = 0; i < @Model.Count(); i++)
    {
        <div class="product-box">
            <a asp-action="Productinfo" asp-controller="Application" class="product-link" asp-route-id="@modelToList[i].Id">
                <img src="@imageDataURL[i]" alt="@modelToList[i].Name" />
                <div class="product-name">@modelToList[i].Name</div>
            </a>
        </div>
        @if (i % 3 == 2 && i != @Model.Count() - 1)
        {
        
        <div class="product-grid"></div>
        }
    }
</div>
</body>