@model Product
@{
    //loads db context into this page
    var _context = ViewBag.Context as ApplicationDbContext;

    //query for all stores which have been selected for this product
    var StoreLogosofProduct =
        (from store in _context.Stores
            where store.Products.Any(x => x.Id == Model.Id)
            select store.StoreLogo).ToList();


    List<string> storeimage = new List<string>();
    for (int i = 0; i < StoreLogosofProduct.Count; i++)
    {
        storeimage.Add(string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(StoreLogosofProduct[i])));
    }
    string ImageDataUrl = string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.ProductImage));
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/ProductInfo.css">
</head>
<body>
<span id="favorite-indicator"></span>
<div class="square"> 
    <img class="kantelbare" src="@ImageDataUrl">
    <h1>"@Model.Name"</h1>
    <h3>@Model.Price</h3>
    <img class="bollogo" src="@storeimage[0]">
    
    @{
        double pixels = (@Model.Price / 300) * 1050;
        int pixelstoInt = (int) pixels;
        string tekst = $"{pixelstoInt}px";
    }

    <div class="arrow-down" style="left: @tekst "></div>
    <table>
        <tr>
            <td class="color1" style="color: white;">€ 0</td>
            <td class="color2"></td>
            <td class="color3" style="text-align:right;color: white;" > € 300</td>
        </tr>
    </table>


</div>



<a asp-action="ProductPagina" asp-route-id="@Model.Id" asp-controller="Application" class="terug">
    <div>
        Terug
    </div>
</a>


<a asp-action="ProductPagina" asp-controller="Application" class="info">
    <div>
        Beschrijving
    </div>
</a>
<a asp-action="ProductPagina" asp-controller="Application" class="gratis">
    <div>
        Video
    </div>
</a>
<a asp-action="ProductInfo" asp-route-id="@Model.Id" asp-controller="Application" class="favorieten" id="favorite-button" >
    <div>
        Favorieten
    </div>
</a>

</body>
</html>